body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #e1e6eb;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

form {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1.5px solid rgb(56, 53, 53); 
    border-radius: 6px;
    padding: 5px; 
}

form:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
